@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Noto+Serif&family=Permanent+Marker&family=Roboto&family=Satisfy&display=swap");

:root {
  --primary-color: #1d4ed8;
  --dark-grey: #6b7280;
  --steel-grey: #d1d5db;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 700px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 18px;
}

h2 {
  color: maroon;
}

#paint {
  color: black;
}

.para {
  color: pink;
}

body {
  font-family: "Noto Serif", serif;
  margin: 0px auto;
}

.container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.link-section {
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.link:hover {
  background-color: rgb(41, 41, 41);
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  margin: 0.5rem;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  margin: 0.5rem;
}

.list-non-bullet {
  list-style: none;
}

.list-inline-unordered {
  display: inline;
  padding: 0rem 1rem;
}

/** navigation **/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 40px;
  margin-left: 1rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link:hover {
  font-weight: bolder;
  background-color: var(--primary-color);
}

.navigation .link-active {
  font-weight: bold;
}

/** header**/

.hero {
  padding: 1rem;
  padding-top: 0px;
}

.hero .hero-img {
  max-width: 950px;
  max-height: 300px;
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 0;
}

.hero .hero-heading {
  margin-top: 0%;
  color: var(--dark-grey);
  text-align: center;
  font-size: 3rem;
}

.section {
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}

.section h1,
p {
  text-align: left;
  margin-top: 1rem;
}
.center {
  margin: auto;
}

.ow {
  background-color: var(--steel-grey);
}

/* Footer */

.footer {
  background-color: var(--primary-color);
  margin-top: 5rem;
  padding-top: 0rem;
  padding-bottom: 0.1rem;
  text-align: center;
  color: white;
}

.footer .link {
  color: white;
}

.footer .link:hover {
  font-weight: bolder;
  background-color: var(--primary-color);
}

.footer .footer-header {
  font-weight: bold;
  font-size: x-large;
  padding-top: 0.8rem;
}

.italic {
  font-style: oblique;
}

.footer ul {
  padding-inline-start: 0px;
  margin-top: 2rem;
}

/* spacing */

.space {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.space-small {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0.5rem;
}

.back {
  background-color: var(--steel-grey);
}
