
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Tiro+Devanagari+Hindi:ital@1&display=swap');

:root {
    --primary-color: #1d4ed8;
    --dark-grey: #6b7280;
    --steel-grey:#d1d5db;
}

hr {
    margin: 2rem 0rem;
}

h2 {
    color: maroon;
}

#paint {
    color: black;
}

.para {
    color: pink;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-family: 'Tiro Devanagari Hindi', serif;
    margin: 0px auto;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 0rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 1rem 2rem;
}

.link-primary {
    background-color:
        var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet {
    list-style: none;
}

.list-inline-unordered {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color:
        var(--primary-color);
    color: white;
    padding: 1.5rem 1rem;
    border-bottom-left-radius: 1.5rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: x-large;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/** header**/

.hero {
    padding: 1rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
    
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
}

.section{
    padding: 2rem;
}

.section h1,p{
    text-align: center;
}
.center{
    margin:auto;
}

.ow{
    background-color: var(--steel-grey);
}

.footer{
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{
    color:white
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.italic{
font-style:oblique;
}

.footer ul{
    padding-inline-start: 0px;
}

.space{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.space-small{
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin: 0.5rem;
}

.back{
    background-color: var(--steel-grey);
}